@keyframes fade-in {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.7;
  }
  66% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-fast {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-fast {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes press-any-blink {
  0% {
    color: #222;
    filter: none;
  }
  20% {
    color: #fff;
    filter: brightness(2) drop-shadow(0 0 6px #fff);
  }
  40% {
    color: #0f0;
    filter: contrast(2) brightness(2) blur(0.3px);
  }
  60% {
    color: #fff;
    filter: grayscale(1) blur(1px);
  }
  100% {
    color: #222;
    filter: none;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* ========================== Screens Animations ========================== */

#title-screen.fade-in,
#menu-screen.fade-in,
#select-mode-menu-screen.fade-in,
#difficulty-menu-screen.fade-in,
#story-screen.fade-in,
#crt-console-screen.fade-in,
#ranking-screen.fade-in,
#credits-screen.fade-in {
  animation: fade-in 0.5s steps(3, end) 1;
}
#title-screen.fade-out,
#menu-screen.fade-out,
#select-mode-menu-screen.fade-out,
#difficulty-menu-screen.fade-out,
#story-screen.fade-out,
#crt-console-screen.fade-out,
#ranking-screen.fade-out,
#credits-screen.fade-out {
  animation: fade-out 0.5s steps(3, end) 1;
}
#story-illustration.fade-in {
  animation: fade-in 0.8s steps(3, end) 1;
}
#story-illustration.fade-out {
  animation: fade-out 0.8s steps(3, end) 1;
}
#story-fin-text.fade-in {
  animation: fade-in-fast 0.4s steps(3, end) 1;
}
#story-fin-text.fade-out {
  animation: fade-out-fast 0.4s steps(3, end) 1;
}
.fade-in {
  animation: fade-in 0.3s steps(3, end) 1;
}
.fade-out {
  animation: fade-out 0.3s steps(3, end) 1;
}
