#game-result-screen.screen {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
#game-result-root {
  background: var(--img-game-result-bg) no-repeat center/cover;
  width: 100%;
  height: 100%;
  padding: 36px 32px 26px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-shadow:
  1px 1px 0 #fff,
  0 0 2px #aaa;
font-size: 1.4rem;
}
#game-result-root.gameover{
  background: var(--img-game-result-gameover-bg) no-repeat center/cover;
}
#game-result-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 28px;
  font-family: "DOSGothic", "Sam3KRFont", sans-serif;
  letter-spacing: 2px;
}
#game-result-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-result-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 7px 0;
  border-bottom: 2px solid #2224;
  font-size: 1.1em;
  font-weight: bold;
  gap: 16px;
  width: 90%;
}
.game-result-label {
  flex: 1 1 110px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.02em;
}
.game-result-value {
  flex: 2 1 0;
  text-align: right;
  word-break: keep-all;
}
#press-any-result {
  position: absolute;
  bottom: 50px;
  font-size: 2rem;
  color: black;
}
