#menu-screen {
  opacity: 1;
  background: var(--img-main-menu-bg) center/cover;
}
#menu-screen.cleared {
  background: var(--img-main-menu-cleared-bg) center/cover;
}
#select-mode-menu-screen {
  background: var(--img-main-menu-bg) center/cover;
}
#difficulty-menu-screen {
  background: var(--img-main-menu-bg) center/cover;
}
#difficulty-menu-screen h2 {
  font-size: 1.6rem;
  margin: 0;
  padding: 0.5rem 0;
  text-shadow: 1px 1px 1px #ffffff;
}
