dialog {
  width: 400px;
  margin: auto;
}
dialog label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
dialog input[type="range"] {
  width: 150px;
}
dialog::backdrop {
  background: transparent;
}
#modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0.9rem;
  padding: 0.3rem 0.8rem;
}
