:root {
  --bg: #ffffff;
  --bg-dark: #000000;
  --fg: #000000;
  --accent: rgb(255, 0, 0);
  --font-size: 1.4rem;
  --img-logo: url("../../assets/images/logo.png");
  --img-title-bg: url("../../assets/images/background/title_dark.png");
  --img-menu-bg: url("../../assets/images/background/title_0.png");
  --story-sample: url("../../assets/images/story/intro-1.png");
  font-family: "DOSGothic", sans-serif;
}
